# Compose to be used in dev environment

services:

  # Reverse proxy to properly route request to backend and frontned
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

  frontend:
      image: oven/bun:1
      working_dir: /app
      environment:
       # needed for auto updating on file changes
        - CHOKIDAR_USEPOLLING=true
      command: >
        sh -lc "
          bun install &&
          bun dev --host
        "
      volumes:
        - ./frontend:/app
        - frontend_node_modules:/app/node_modules


  backend:
    image: oven/bun:1
    working_dir: /app
    command: >
      sh -lc "
        bun install &&
        bun dev
      "
    env_file:
      - .env
    environment:
      - DB_HOST=db
    volumes:
      - ./backend:/app
      # keep node_modules inside the container so your host fs doesn't clobber them
      - backend_node_modules:/app/node_modules
    depends_on:
      - db


  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "mysql -uroot -p${DB_PASSWORD} -e 'SELECT 1 FROM mysql.user LIMIT 1;' || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10


volumes:
  db_data:
  backend_node_modules:
  frontend_node_modules:
